# Regression Python [Herly]

In [1]:
import pandas as pd

df = pd.read_csv('boston.csv')
df.sample(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
314,0.36920,0.0,9.90,0,0.5440,6.567,87.3,3.6023,4,304,18.4,395.69,9.28,23.8
93,0.02875,28.0,15.04,0,0.4640,6.211,28.9,3.6659,4,270,18.2,396.33,6.21,25.0
316,0.31827,0.0,9.90,0,0.5440,5.914,83.2,3.9986,4,304,18.4,390.70,18.33,17.8
31,1.35472,0.0,8.14,0,0.5380,6.072,100.0,4.1750,4,307,21.0,376.73,13.04,14.5
149,2.73397,0.0,19.58,0,0.8710,5.597,94.9,1.5257,5,403,14.7,351.85,21.45,15.4
6,0.08829,12.5,7.87,0,0.5240,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
224,0.31533,0.0,6.20,0,0.5040,8.266,78.3,2.8944,8,307,17.4,385.05,4.14,44.8
64,0.01951,17.5,1.38,0,0.4161,7.104,59.5,9.2229,3,216,18.6,393.24,8.05,33.0
434,13.91340,0.0,18.10,0,0.7130,6.208,95.0,2.2222,24,666,20.2,100.63,15.17,11.7
426,12.24720,0.0,18.10,0,0.5840,5.837,59.7,1.9976,24,666,20.2,24.65,15.69,10.2

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')